.banner {
  /* background-image: url('../assets/main/Polygon\ Luminary.svg');
  height:auto;
  width:90% */
  /* background-image:url("../assets/main/bg1.svg");
  background-size: "cover";
  height: 100vh;
  margin-top: -70px;
  background-repeat: no-repeat; */
}
